@font-face {
  font-family: "Maison Mono TRIAL";
  src: url("./assets/fonts/MaisonMonoTRIAL-Bold.woff2") format("woff2"), url("./assets/fonts/MaisonMonoTRIAL-Bold.woff") format("woff"), url("./assets/fonts/MaisonMonoTRIAL-Bold.ttf") format("truetype"), url("./assets/fonts/MaisonMonoTRIAL-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Mono";
  src: url("./assets/fonts/MaisonMono-Regular.woff2") format("woff2"), url("./assets/fonts/MaisonMono-Regular.woff") format("woff"), url("./assets/fonts/MaisonMono-Regular.ttf") format("truetype"), url("./assets/fonts/MaisonMono-Regular.svg#MaisonMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Maison Mono";
  font-size: 16px;
  color: #cbcbcb;
}

#block1 {
  width: 100%;
  height: 760px;
  background: url(./assets/block1.jpg) no-repeat;
  background-size: cover;
}

.wrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.back2 {
  position: absolute;
  right: 0;
  z-index: 1;
}

.header {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  font-family: "Maison Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.link.dot {
  background: url(./assets/Ellipse.png) no-repeat 16px;
  padding: 11px 18px 11px 43px;
}

.link.circle {
  background: url(./assets/circle.png) no-repeat 20px;
  padding: 11px 18px 11px 43px;
}

.link.ellipse {
  background: url(./assets/Ellipselink.png) no-repeat;
  padding: 51px 53px 66px;
}

.link.dot.color {
  color: #ffffff;
  padding: 0 20px;
  background: url(./assets/Ellipse.png) no-repeat 0;
}

.link.dot.color.black {
  color: #000000;
}

.link.order {
  color: #000000;
  background: url(./assets/greenellipse.png) no-repeat 5px;
  padding: 68px 47px;
}

.logo {
  padding: 0 0 0 10px;
}

.text-nav {
  z-index: 2;
}

.title {
  font-family: Maison Mono Trial;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
  width: 492px;
  text-align: left;
  margin: 116px 0 0 18px;
  text-align: left;
  margin: 116px 0 0 18px;
}

.subtitle {
  text-align: left;
  margin: 32px 0 0 18px;
  font-size: 24px;
  line-height: 32px;
  width: 550px;
}

.explore {
  margin: 95px 0 0 20px;
  position: relative;
}

.vector {
  position: absolute;
  left: -44px;
  bottom: -4px;
}

#block2 {
  width: 100%;
  height: 1600px;
  background: url(./assets/backgroundlongjpg.jpg) no-repeat;
  background-size: cover;
}

.familyimg {
  width: 608px;
  height: 466px;
}

.paragraph {
  font-family: "Maison Mono";
  font-size: 16px;
  line-height: 24px;
  color: #cbcbcb;
  padding-bottom: 40px;
}

.paragraph.short {
  width: 390px;
}

.paragraph.flex {
  width: 184px;
  text-align: center;
}

.paragraph.display {
  padding-bottom: 0px;
}

.paragraph.short.color {
  color: #424242;
}

.familytext {
  width: 495px;
}

.tittlewrap {
  font-family: Maison Mono Trial;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 48px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 40px;
}

.tittlewrap.briiv {
  padding-top: 298px;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
}

.tittlewrap.briiv2 {
  padding-top: 102px;
  text-align: center;
  padding-bottom: 65px;
  font-size: 56px;
  line-height: 60px;
}

.tittlewrap.color {
  color: #000000;
}

.cleaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 167px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondtext {
  width: 485px;
  padding-top: 403px;
}

#block3 {
  width: 100%;
  height: 800px;
  background: url(./assets/back3.jpg) no-repeat;
  background-size: cover;
}

.play {
  margin: 0 auto;
  width: 120px;
  position: relative;
}

.playimg {
  position: absolute;
  right: 30px;
  top: 30px;
}

#block4 {
  width: 100%;
  height: 800px;
  background: url(./assets/block4.jpg) no-repeat;
  background-size: cover;
}

.icons {
  width: 808px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 205px;
}

.names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 786px;
  margin-left: 225px;
  padding-top: 40px;
}

.namestext {
  font-family: Maison Mono Trial;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.namestext.display {
  padding-right: 55px;
}

.namestext.display.fast {
  margin-right: 30px;
}

.namestext.sheep {
  padding-bottom: 40px;
  text-align: left;
}

.explonation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 808px;
  margin-left: 205px;
  padding-top: 24px;
}

.order {
  margin: 63px auto 0;
  width: 136px;
  position: relative;
}

.greenvector {
  position: absolute;
  right: 102px;
  top: 0;
}

#block5 {
  background-color: #000000;
  width: 100%;
  height: 800px;
}

.titleslider {
  padding-top: 84px;
  text-align: center;
}

.slider {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.slider.item {
  position: relative;
}

.slider.item:nth-child(4n + 1) {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  translate: 25% 0;
  z-index: 1;
}

.slider.item:nth-child(2n + 2) {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  translate: % 0;
  margin-left: -130px;
  z-index: 1;
}

.slider.item:nth-child(3) {
  margin-left: -130px;
  z-index: 3;
}

.slider.item:nth-child(1) {
  opacity: 0.5;
}

.titlesheep {
  text-align: left;
  padding: 80px 0 0 90px;
}

.tittlescroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 105px 0 0 159px;
  width: 1010px;
}

.sliderscroll {
  position: absolute;
  right: 262px;
  bottom: 5px;
}

.scroll {
  position: relative;
}

#block6 {
  background: url(./assets/SCREEN7.jpg);
  width: 100%;
  height: 800px;
}

.blockdisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 167px;
  padding-left: 151px;
}

.control {
  padding-top: 30px;
}

.store {
  padding-top: 57px;
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#block7 {
  background: url(./assets/SCREEN8.jpg);
  width: 100%;
  height: 800px;
}
/*# sourceMappingURL=style.css.map */